# Python artifacts
__pycache__/
*.py[cod]
*.so

# Build and packaging
build/
dist/

# Logs and database
*.log
db.sqlite3
db.sqlite3-journal

# Environment
.env
.venv/
venv/

# IDE/editor
.vscode/

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# Misc
local_settings.py

# other
notes.txt
TODO.txt